<h2>Events</h2>
<hr class="headerDivider">
{{#each this}}
<hr class="eventDivider">
<div class="event vevent" itemprop="event" itemscope itemtype="http://schema.org/Event">
    <div class="eventDate">
        <a href="/events/{{post_name}}"><span>{{date/startDate/monthAbbreviation}}</span><br>
        <span>{{date/startDate/day}}</span><br>
        <span>{{date/startDate/year}}</span></a>
    </div>
    <div class="eventData">
        <a href="/events/{{link}}" itemprop="url"><span class="eventTitle summary" itemprop="name">{{post_title}}</span></a><br>
        {{#if location}}
        <span class="eventInfo location" itemprop="location">{{location/name}}</span><br>
        {{/if}}
        <span class="eventTime"><span class="startTime">{{dates/startTime/human}}</span>{{#if dates/endTime}}<span class="endTime">{{dates/endTime/human}}{{/if}}</span>
    </div>
</div>
{{/each}}


