<section class="navbar navbar-inverse">
    <div class="container">
        <aside class="social-media social-media-footer" data-template="socialMedia" data-source="/wp-json/ohs/v1/social"></aside>
        <section class="footerAddress" id="footerAddress">
            {{#if organizationName}}
                <span>{{organizationName}}</span><br>
            {{/if}}
            {{#if addressLine1}}
               <span>{{addressLine1}}</span> <br>
            {{/if}}
            {{#if addressLine2}}
                <span>{{addressLine2}}</span><br>
            {{/if}}
            {{#if city}}
                <span>{{city}}</span>
            {{/if}}
            {{#if state}}
                , <span>{{state}}</span>&nbsp;
            {{/if}}
            {{#if zip}}
                <span>{{zip}}</span>
            {{/if}}
        </section>
        <section class="copyright" id="copyright">
            <span>&copy; 2014-2016, {{organizationName}}.</span><br>
            <span>All Rights Reserved.</span>
        </section>
    </div>
</section>