{{#each this}}
    <div class="media piece col-md-4 grid-item" data-url="{{source_url}}" data-title="{{title/rendered}}">
        <a class="mediaModal" href="{{source_url}}" title="{{title/rendered}}"><img src="{{source_url}}" alt="{{caption}}"></a>
        <p>{{caption}}</p>
    </div>
{{/each}}