    <a class="mediaModal" href="{{source_url}}" title="{{title/rendered}}" data-url="{{source_url}}" data-title="{{title/rendered}}">
        <img src="{{#if media_details/sizes/display}}{{media_details/sizes/display/source_url}}{{else}}{{media_details/sizes/full/source_url}}{{/if}}" alt="{{caption}}">
    </a>
    <p>{{caption}}</p>